.flick {
  color: inherit;
  margin-top: 20px;
  background-color: $main-bg-color;
  @media(min-width:1024px) {
    background-color: inherit;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .description {
    padding: 20px 0;
  }
  .container {
  position: relative;
  }
}