.item-card {
  margin: 15px;
  border-radius: 5px;
  overflow: hidden;
  background-color: $card-bg-color;
  color: $white;
  width: calc((100% - 4 * 15px) / 2);
  height: 310px;
  @media (min-width:480px) {
    width: calc((100% - 6 * 15px) / 3);
    height: 310px;
  }
  @media (min-width:768px) {
    width: calc((100% - 8 * 15px) / 4);
    height: 350px;
  }
  @media (min-width:1024px) {
    width: calc((100% - 10 * 15px) / 5);
    height: 380px;
  }
  @media (min-width:1280px) {
    width: calc((100% - 10 * 15px) / 5);
    height: 440px;
  }
  a, article {
    display: block;
    height: 100%;
  }
  .wrapper {
    padding: 8px 5px;
    margin-bottom: 10px;
    .wrapper {
      padding: 0;
      display: flex;
      align-items: center;
    }
  }
  .title {
    text-align: left;
  }
  .media-type {
    border: 1px solid $white;
    border-radius: 10px;
    padding: 1px 5px;
    margin-left: auto;
  }
  .star-icon {
    margin-right: 5px;
  }
  .thumb {
    img {
      object-fit: cover;
      display: block;
      height: 210px;
      @media (min-width:768px) {
        height: 255px;
      }
      @media (min-width:1024px) {
        height: 274px;
      }
      @media (min-width:1280px) {
        height: 340px;
      }
    }
  }
}