.slider-list {
  position: relative;
  color: inherit;
  margin-top: 20px;
  h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .description {
    padding: 20px 0;
  }
  .wrapper {
    text-align: right;
  }
  .slider-wrapper {
    position: relative;
  }
}