$white: #ffffff;
$black: #000000;
$blue: #0000ff;
$main-bg-color: #121212;
$gray: #808080;
$secondary-gray: #ffffffb3;
$gold-color: #F5C518;
$card-bg-color: #1f1f1f;
$arrow-bg-color: #5a5a5a80;
$element-color: #ffffff14;
$light-blue-color: #5799ef;
